button {
    background-color: #587f8f;
    border: slategrey;
    color: white;
    padding: 2px 5px 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    height: 1.7em;
    margin-left: 25px;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
    
  }
  // .dashboard{
  //     width: 300px;
  //     border: 15px solid green;
  //     padding: 50px;
  //     margin: 20px;
    
  // }