<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>

    <ng-container  matColumnDef="FormId">
        <th><mat-header-cell *matHeaderCellDef mat-sort-header>Form Id</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.FormId}}</mat-cell></td>
    </ng-container>

    <ng-container  matColumnDef="FormType">
        <th><mat-header-cell *matHeaderCellDef mat-sort-header>Form Type</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.FormType}}</mat-cell></td>
    </ng-container>

    <ng-container  matColumnDef="FormData">
        <th><mat-header-cell *matHeaderCellDef  mat-sort-header>Form Data</mat-header-cell></th>
        <td><mat-cell *matCellDef="let element">{{element.FormData[0].Value}}</mat-cell></td>
    </ng-container>

   
    <ng-container  matColumnDef="ViewDetail">
        <th><mat-header-cell *matHeaderCellDef>View Details</mat-header-cell></th>
        <td>        <mat-cell *matCellDef="let element" ><button (click)="onSelect(element)">click</button></mat-cell>
        </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></mat-header-row>
    <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

</div>

<br>

<div *ngIf="form">
  <br>
  <h2>{{form.FormType | titlecase}} Details : </h2>
  <ul class="formdetails">
      <li *ngFor="let formData of form.FormData">
          <span class="badge"> {{formData.Name}} :</span> {{formData.Value}}<br />
      </li>
  </ul>
</div>

