<!-- <app-header></app-header> -->
<br>
<br>
<h1 class="title-pen"> User Profile <span></span></h1>
<div class="user-profile">
	<img class="avatar" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTF_erFD1SeUnxEpvFjzBCCDxLvf-wlh9ZuPMqi02qGnyyBtPWdE-3KoH3s" alt="Ash" />
    <div class="username">{{name}}</div>
  <div class="bio">
  	Developer
  </div>
    <div class="description">
      {{email}}
  </div>
  
</div>
  <footer>
    <h1>inspired by 
  <a href="/profile">
  <span class="entypo-dribbble"></span> DFM</a>
    </h1>
  </footer>
<!-- <app-footer></app-footer> -->